* {
  margin: 0;
}

main,
header {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
h1,
h3 {
  padding: 0.5rem;
}

h2 {
  position: absolute;
  left: 11rem;
  top: 1rem;
  font-weight: normal;
}

.role {
  position: absolute;
  font-weight: normal;
  left: 13rem;
}

.scrum-role {
  top: 4rem;
}

.everyone-role {
  top: 5.5rem;
}

.container {
  border: solid black 1rem;
  display: flex;
  flex-direction: column;
  min-width: 37rem;
  z-index: 1;
}

.repo {
  height: 18rem;
  position: relative;
  z-index: 1;
}

.github {
  border-bottom: dotted black 2px;
  background-color: aquamarine;
}

.local {
  background-color: rgb(149, 236, 252);
  z-index: -1;
}

.github-heading {
  position: absolute;
  top: 0rem;
}

.local-heading {
  position: absolute;
  top: 14rem;
}

.branch {
  background-color: white;
  font-size: 1.5rem;
  width: 8rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 1rem;
  text-align: center;
  position: absolute;
  font-weight: bold;
}

.working-branch {
  left: 22rem;
}

.main-branch {
  left: 5rem;
}

.github-branch {
  top: 10rem;
}

.local-branch {
  top: 3rem;
}

.arrow {
  z-index: 3;
  position: absolute;
}

.down-arrow {
  top: 15rem;
  left: 9rem;
  height: 5.5rem;
}

.up-arrow {
  top: 15rem;
  left: 26rem;
  height: 5.5rem;
}

.right-arrow,
.left-arrow {
  width: 5.5rem;
  left: 15rem;
  top: 4rem;
}

.left-arrow {
  top: 6rem;
}

li {
  margin: 0.5rem;
}

code {
  background-color: rgb(253, 253, 142);
  font-size: 0.8rem;
  padding: 0.1rem;
}
p {
  position: absolute;
}

.step-1 {
  top: 7.5rem;
  left: 1rem;
}

.step-2 {
  top: 9rem;
  left: 23rem;
}

.step-3 {
  top: 10.5rem;
  left: 23rem;
}

.step-4 {
  left: 27rem;
}

.step-5 {
  top: 8rem;
  left: 13rem;
}

.step-6 {
  left: 3rem;
}

.step-7 {
  top: 8rem;
  left: 1rem;
}

.step-8 {
  top: 0.5rem;
  left: 13rem;
}

.step-9 {
  top: 12.5rem;
  left: 23rem;
}

.step-10 {
  top: 14rem;
  left: 22.5rem;
}

.outer-container {
  display: flex;
}

.constainer-pull-request .requester-role {
  top: 2.5rem;
}

.constainer-pull-request .qa-role {
  top: 4rem;
}
.constainer-pull-request .sm-role {
  top: 5.5rem;
}

.constainer-pull-request .role {
  position: absolute;
  left: 12rem;
}

.locals {
  display: flex;
}

.qa-local-repo {
  background-color: thistle;
  width: 50%;
  border-right: solid black 2px;
}

.local-heading-qa {
  position: absolute;
  top: 14rem;
}

.left-arrow.first {
  height: 1rem;
  width: 2.5rem;
  top: 12rem;
}

.left-arrow.second {
  height: 1rem;
  width: 2.5rem;
  top: 12rem;
  left: 18.5rem;
}

.down-arrow.third {
  transform: rotate(30deg);
  left: 16rem;
  height: 6rem;
}

.pause {
  height: 5rem;
  width: 0;
  border: solid 1px black;
  background-color: black;
  position: absolute;
  left: 18rem;
  top: 10rem;
}

.t-local-repo .local-branch {
  position: relative;
  left: 4rem;
}

.qa-local-repo .step-1 {
  position: absolute;
  left: 23rem;
  top: 8rem;
  /* width: 20rem; */
}
.qa-local-repo .step-2 {
  position: absolute;
  left: 23rem;
  top: 9.5rem;
  /* width: 20rem; */
}
.qa-local-repo .step-3 {
  position: absolute;
  left: 23rem;
  top: 11rem;
  /* width: 20rem; */
}
.qa-local-repo .step-4 {
  position: absolute;
  left: 27rem;
  top: 0;
  /* width: 20rem; */
}

.github .step-5 {
  left: 19rem;
  top: 8.5rem;
  width: 13rem;
}
.github .step-10 {
  left: 7rem;
  top: 8.5rem;
  width: 13rem;
}

.qa-local-repo .step-6 {
  left: 1rem;
}
.qa-local-repo .step-7 {
  top: 8rem;
  left: 3rem;
}
.qa-local-repo .step-8 {
  top: 9.5rem;
  left: 3rem;
}
.qa-local-repo .step-9 {
  top: 11rem;
  left: 3rem;
}

.github-setup .scrum-role {
  position: absolute;
  top: 0.25rem;
  left: 20rem;
}
.github-setup .everyone-role {
  position: absolute;
  top: 1.5rem;
  left: 20rem;
}

.starter {
  left: 13rem;
  top: 4rem;
}

.separate {
  height: 50%;
  border-bottom: dotted 2px black;
}

.short-arrow-setup {
  width: 3rem;
  transform: rotate(-55deg);
  left: 10rem;
  top: 8rem;
}

.github-setup .step-1 {
  position: absolute;
  top: 7rem;
  left: 1rem;
}

.local-setup .step-2 {
  position: absolute;
  left: 2rem;
  top: 0;
}
.local-setup .step-3 {
  position: absolute;
  left: 2rem;
  top: 8rem;
}
.local-setup .step-4 {
  position: absolute;
  left: 14rem;
  top: 8rem;
}
.local-setup .step-5 {
  position: absolute;
  left: 25rem;
  top: 0;
}
.local-setup .step-6 {
  position: absolute;
  left: 27rem;
  top: 8rem;
}
.local-setup .right-arrow {
  top: 6rem;
}

.github-setup .up-arrow {
  left: 24rem;
}

summary {
  margin: 1rem;
}

.outer-container {
  margin-left: 1rem;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav ul li {
  width: 30%;
  text-align: center;
}

nav ul li:hover {
  font-weight: bolder;
}

nav {
  display: flex;
  position: fixed;
  z-index: 100;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filler {
  height: 3rem;
}
a {
  color: white;
  text-decoration: none;
}

.list {
  max-height: 600px;
  overflow-x: scroll;
}

.highlight {
  color: yellow;
}
